<?xml version="1.0" encoding="UTF-8"?>
<configuration packagindData="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta([%d{HH:mm:ss.SSS}]) %cyan([%thread]) %green([%logger{36}]) %highlight([%-4level]) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>